#aboutMe .row{
    display: flex;
    animation-duration: 1.5s;
    animation-name: slideinAbout;
    margin-top: 5%;
}




#CVdiv{
    margin: auto 1em auto auto;
}

.CVbutton{
    height: 2em;
    width: 10em;
    cursor: pointer;
    font-family: 'Hemi Head', sans-serif;
    font-size: large;
    border-radius: 1em;
    background-color: #F2911B;
    transition: all .2s ease-in-out;
    border: none;
}

.CVbutton:hover{
    color: #F2911B;
    background-color: #59252E;
}
#dobleSection{
    justify-content: center;
}

#dobleSection .col{
    width: 100%;
    text-align: center;
}


@keyframes slideinAbout {
    from {
      margin-top: 50%;
    }
  
    to {
      margin-top: 5%;
    }
}
