
#aboutMe .introSection{
    display: flex;
    animation-duration: 1.5s;
    animation-name: slideinAbout;
    margin-top: 5%;
}

#aboutMe ul{
    margin-top: 5%;
    position: relative;
    text-align: center;
}
#aboutMe li{
    padding: 5%;
}
#aboutMe li p{
    margin: auto;
    padding: 2%;
    width: 60%;
    background-color: #59252E;
    box-shadow: 5px 5px #D95204;

    transition: all .4s ease-in-out;
}

#aboutMe li p:hover{
    color: #325573;
}

#CVdiv{
    margin: auto 1em auto auto;
}

.CVbutton{
    height: 2em;
    width: 10em;
    cursor: pointer;
    font-family: 'Hemi Head', sans-serif;
    font-size: large;
    border-radius: 1em;
    background-color: #F2911B;
    transition: all .2s ease-in-out;
    border: none;
}

.CVbutton:hover{
    color: #F2911B;
    background-color: #59252E;
}


@keyframes slideinAbout {
    from {
      margin-top: 30%;
    }
  
    to {
      margin-top: 5%;
    }
}
