
.imageProfile img {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    transition: all .4s ease-in-out; 
}

.imageProfile img:hover {
    scale: 1.1;
    box-shadow: 0 8px 8px 0 #F2911B;
}

#profile .row{
    margin-bottom: 3%;
}

.profileText{
    color: #F2911B;
    font-size: x-large;
}