.App {
  color: gainsboro;
  font-size: 1.2em;
}

.backImage{
  top: 20%;
  display:flex;
  width: auto;
  position: relative;
  justify-content: end;
  z-index: 90;
  position: fixed;
  right: 0;
}

.backImage img{
  width: 38em;
  transition: all 0.4s ease-in-out;
}

.backImage img:hover{
  cursor: pointer;
  transform: scale(1.1);
}

#root{
  background: #21384d;
  background-attachment: fixed;
}

#main{
    visibility: visible;
    width: auto;
    height: auto;
    margin: 0;
    position: relative;
    z-index: 3;
    padding: 7% 37% 20% 15%;
    min-height: 100vh;
}

section{
  padding-left: 10%;
  border-left: solid 0.3em #59252E ;
  border-radius: 20px;
}

.subSection{
  margin-top: 50%;
}

.subSection img{
  width: 17%;
  vertical-align: middle;
}

.dobleSection{
  margin-top: 50%;
  display: flex;
  justify-content: center;
}

.dobleSection .col{
  width: 100%;
  text-align: center;
}


.titleSection{
  border-bottom: solid 2px #D95204;
  margin-bottom: 5%;
  
  font-size: small;
}

.subtitleSection{
  color: #F2911B;
  margin-bottom: 2%;
  font-size: 200%;
}

.sectionContent{
  padding-bottom: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1{
  font-size: xx-large;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1300px) {
  #main{
    padding: 20% 5% 20% 5%;
  }
}


/* Color Theme Swatches in Hex */
.Naturaleza-1-hex { color: #59252E; }
.Naturaleza-2-hex { color: #325573; }
.Naturaleza-3-hex { color: #F2911B; }
.Naturaleza-4-hex { color: #F2C288; }
.Naturaleza-5-hex { color: #D95204; }
.Naturaleza-6-hex { color: #21384d; }

/* Color Theme Swatches in RGBA */
.Naturaleza-1-rgba { color: rgba(89, 36, 46, 1); }
.Naturaleza-2-rgba { color: rgba(50, 84, 114, 1); }
.Naturaleza-3-rgba { color: rgba(242, 145, 26, 1); }
.Naturaleza-4-rgba { color: rgba(242, 194, 135, 1); }
.Naturaleza-5-rgba { color: rgba(216, 82, 4, 1); }

/* Color Theme Swatches in HSLA */
.Naturaleza-1-hsla { color: hsla(348, 41, 24, 1); }
.Naturaleza-2-hsla { color: hsla(208, 38, 32, 1); }
.Naturaleza-3-hsla { color: hsla(33, 89, 52, 1); }
.Naturaleza-4-hsla { color: hsla(33, 80, 74, 1); }
.Naturaleza-5-hsla { color: hsla(22, 96, 43, 1); }
