
#footer{
    position: relative;
    color: white;
    background-color: #171e27;
    width: auto;
    height: auto;
    z-index: 2;
    padding: 0% 20% 0% 20%;
}

#footer .container{
    display:block;
    width: auto;
    align-items: center;
}

#footer .row{
    width: auto;
    height: auto;
    padding: 2.5% 0% 2.5% 0%;
    align-items: center;
    display: flex;
}

#footer .col{
    width: 100%;
    text-align: center;
    align-items: center;
}

#footer .col i{
    margin: 1.5%;
    color: rgb(255, 21, 224);
}
#footer .col i:hover{
    color: aquamarine;
}
#footer ul{
    margin: 0% 0% 0% 40%;
}

#footer #titles{
    padding: 2.5% 0% 0% 0%;
    font-size: x-large;
    color: aquamarine;
}

#footer #CopyRight{
    padding: 1.5% 1.5% 1.5% 1.5%;
    text-align: center;
}




.color1 {color: #140f07;}
.color2 {color: #171e27;}
.color3 {color: #3a506a;}
.color4 {color: #6086b5;}
.color5 {color: #8bc3fa;}