
#header .video{
    width: 100%;
    height: 100%;
    position: fixed;
}

#header video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
/*
#header #content{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}*/

#header .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
}


.ContainerButton{
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 4;
}

.ContainerMenuButton{
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.ContainerMenuButton.active{
  visibility:visible;
  opacity: 1;
  z-index: 4;
}


.StartButton{
  top: 40%;
  font-family: 'Common Pixel', sans-serif;
  font-size:x-large;
  height: 4em;
  width: 15em;
  background-color: transparent;
  border: solid 2px white;
  color: white;
  letter-spacing: 0.3em;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.Button{
  margin: 1em;
  font-family: 'Common Pixel', sans-serif;
  font-size:x-large;
  height: 4em;
  width: 15em;
  background-color: transparent;
  border: solid 2px white;
  color: white;
  letter-spacing: 0.3em;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.StartButton:hover,.Button:hover{
  border-color: aquamarine;
  color: aquamarine;
  letter-spacing: 0.5em;
}

.StartButton.active{
  top: 0;
  position: relative;
  opacity: 0;
}