
#header{
  position: fixed;
  z-index: 4;
  width: 100%;
}



.ContainerMenuButton{
  display: flex;
  height: auto;
  visibility: hidden;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-in-out;
  background-color: transparent;
  margin-top: 1.5%;
  padding: 0% 20% 0% 20%;

}

.ContainerMenuButton .col{
  display: flex;
  justify-content: center;
  margin: auto;
}

.ContainerMenuButton.active{
  visibility:visible;
  opacity: 1;
  z-index: 4;
}


.Typewriter span{
  font-size: 3em;
  color: aquamarine;
  transition: all 0.2s ease-in-out;
}

.Typewriter span:hover{
  color: grey;
}



.Button{
  cursor: pointer;
  margin:auto;
  font-family: 'Hemi Head', sans-serif;
  font-size: large;
  height: 2em;
  width: 13em;
  background-color: transparent;
  border: solid 2px aquamarine;
  color: aquamarine;
  letter-spacing: 0.2em;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.Button:active{
  background-color: grey;
}


.Button:hover{
  border-color: rgb(255, 21, 224);
  color: aquamarine;
  letter-spacing: 0.3em;
}


.enfasis1{
  color: aquamarine;
  transition: all 0.1s ease-in-out;
}

.enfasis2{
  color: rgb(255, 21, 224);
  transition: all 0.1s ease-in-out;
}
@media screen and (max-width: 800px) {
  .Typewriter span{
    font-size: 2em;
  }
}
