


.ContainerButton{
    position: fixed;
    display:flex;
    width: 100%;
    height: auto;
    display:flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    z-index: 4;
    margin-top: 8em;
    transition: all 0.2s ease-in-out;
}

.ContainerButton.active{
  height: 0em;
  margin: 0em;
  opacity: 0;
  visibility: hidden;
}

.ContainerMenuButton{
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  display: block;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;
  background-color: transparent;
}

.ContainerMenuButton.active{
  visibility:visible;
  opacity: 1;
  z-index: 4;
}

.ContainerButton div{
  margin: 1em 1em;
  align-items: center;
}

.ContainerButton img {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  transition: all .3s ease-in-out; 
}

.ContainerButton img:hover {
  scale: 1.1;
  box-shadow: 0 8px 8px 0 aquamarine;
}

.titleStart{
  font-family: 'Common Pixel', sans-serif;
  font-size: 3em;
  color: aquamarine;
  transition: all 0.2s ease-in-out;
}

.titleStart:hover{
  color: grey;
}

.textStart.active, .titleStart.active{
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.StartButton{
  cursor: pointer;
  font-family: 'Common Pixel', sans-serif;
  font-size:x-large;
  height: 2em;
  width: 8em;
  background-color: transparent;
  border: solid 2px white;
  color: white;
  letter-spacing: 0.2em;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.Button{
  margin: 1em;
  font-family: 'Common Pixel', sans-serif;
  font-size: large;
  height: 2em;
  width: 13em;
  background-color: transparent;
  border: solid 2px white;
  color: white;
  letter-spacing: 0.2em;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.StartButton:active, .Button:active{
  background-color: grey;
}

.StartButton:hover,.Button:hover{
  border-color: aquamarine;
  color: aquamarine;
  letter-spacing: 0.3em;
}

.StartButton.active{
  opacity: 0;
}